.App {
  background-color: white;
  margin: auto;
  max-width: 1140px;
  min-height: 100vh;
}

::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.1);
  border-left: 0;
  height: 3px;
  width: 3px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #0047ab;
  border-radius: 0;
}
