.App {
  /* text-align: center; */
  background-color: white;
}

::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.1);
  border-left: 0;
  /* height: 3px;
  width: 3px; */
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #0047ab;
  border-radius: 0;
}
